<div class="flex flex-wrap gap-4">
  <div
    *ngFor="let key of objectKeys(data); trackBy: trackByKey"
    class="json-field-container m-2 w-max"
  >
    <label class="form-control w-full max-w-xs">
      <div class="label flex items-center justify-between">
        <span class="label-text text-[20px] font-bold">{{
          key[0].toUpperCase() + key.slice(1)
        }}</span>
        <span *ngIf="isFieldModified(key)">
          <div class="badge badge-warning badge-outline font-bold border-2">Modified</div>
        </span>
      </div>
      <input
        type="text"
        class="input input-md input-bordered text-[18px]"
        [value]="data[key]"
        (input)="onValueChange(key, $event)"
        [attr.aria-label]="'Edit value for ' + key"
        [disabled]="disabled"
      />
    </label>
  </div>
</div>
