
<div class="d-flex justify-content-between mb-4">
  <button id="async_data_btn" class="btn btn-primary btn-sm">
    Load data
  </button>
  <div class="d-flex">
    <div class="form-outline">
      <input type="text" data-search="" data-target="#table_async_data" id="search_async" class="form-control">
      <label class="form-label" for="search_async">Search</label>
    </div>
    <button class="btn btn-primary btn-sm ml-3" data-add-entry="" data-target="#table_async_data">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
<hr>
<div id="table_async_data"></div>
